<section class="card">
    <div class='card-body'>
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat sed culpa distinctio quis modi beatae unde omnis nemo nam libero.</p>
    </div>
</section>