
 <div class="jumbotron jumbotron-fluid">
    <div class="container" id="cont-proncipal">
      
    <h1 class="display-4"> Notes app and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque error voluptate culpa vel incidunt voluptatem architecto facilis impedit explicabo iusto! Eaque, natus! Quas nostrum amet commodi ex quo facere temporibus.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, nulla? Culpa nisi tenetur repellat at ab ipsam libero doloremque dicta.</p>
    <a href="#" class="btn btn-primary">dmca</a>

    </div>
 </div>