<footer class="bd-footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-0 mb-0">
        <ul class="list-unstyled small text-muted">
          <img src="/img/logo_transparent.png" class="col-md-1 mx-auto">
          <li class="mb-2">Designed and built with all the love in the world by the <a href="#">dmca team</a> with the
            help of our contributors.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>